<center><h2>Log in</h2></center>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <center><%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %></center>
    <center><%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %></center>
    <center><%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %></center>
  </div>

  <div class="form-actions">
    <center><%= f.button :submit, "Log in" %></center>
  </div>
<% end %>

<center><%= render "devise/shared/links" %></center>

<style>
body {
  background-image: url("background4.jpg");
}
</style>
