<br>
<h1 style="margin-left:15px">Welcome to Acebook!</h1>
<br>
<h2 style="margin-left:15px">Posts</h2>
<br>
<table>
  <thead>
    <tr>
       <th>User</th>

      <th>Message</th>
      <th>Time since</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= User.find_by_id(post.user_id).username %></td>
        <td><%= simple_format(post.message) %></td>
        <td><%= time_ago_in_words(post.created_at) %>  ago</td>


        <td><% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
        <% if pre_like %>
          <span class="unlike_btn"><%= button_to "&#128078;".html_safe, post_like_path(post, pre_like), method: :delete %> </span>
        <% else %>
        <span class="like_btn"><%= button_to "&#128077;".html_safe, post_likes_path(post), method: :post %> </span>
        <% end %> </td>

        <td><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></td>
        <td><strong><%= link_to 'Comments', post %></strong></td>
        <td><strong><%= link_to 'Edit', edit_post_path(post) %></strong></td>
        <td><strong><%= link_to 'Delete', post, method: :delete, :data => {:confirm => 'Are you sure?'} %></strong></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
<%= link_to 'Photo Albums', albums_url %>
