<div class="header">
  <h1><strong>User</strong></h1>
 <p><%= User.find_by_id(@post.user_id).username %></p>
</div>


 <p>
  <center><strong>Message</strong></center>
  <center><%= simple_format(@post.message) %></center>
</p>

<br>
<p>
 <center><strong>Comments: <%= @post.comments.count %></strong></center>
</p>
<br>

<center><p><%= render @post.comments %></p></center>

  <center><p> Add a Comment: </p></center>
  <center><%= render 'comments/form' %></center>

<center><%= link_to 'Edit', edit_post_path(@post) %></center>

<center><%= link_to 'Back', posts_path %></center>
